/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
/* INICIO TEMA Proyecto INVIL Kids */
.container {
  &.main{
    padding: 0 42px 32px;
    position: relative;
    z-index: 10;
  }
}

/*↓↓↓↓↓↓↓↓↓___PLANTILLA GENERAL___↓↓↓↓↓↓↓↓↓*/
body {
    background: url(../img/fondo2-2.svg) no-repeat top, url(../img/fondo2.png) no-repeat;
    background-size: 70% , 100%;
    background-attachment: fixed;
    font-family:$Alegreya;
    font-size:17px;
    color: #979696;
    font-family: 'Alegreya Sans', sans-serif;
}

p{
    text-align: justify;
    font-size: $sizeParrafo;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

// __________-Comienzo de menu Lateral-__________
/* ========================== menu lat =============================== */
.menuLat {
    width: 112px;
    height: 553px;
    float: left;
    margin-top: 40px;
    position: absolute;
    padding: 10px;
    a{
        font-family:$Alegreya;
        color: #6e3e23;
        text-align: center;
        display: block;
        height: 71px;
        width: 92px;
        font-weight: bold;
        font-size: 14px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        &:hover{
            text-decoration: none;
            color: #f39200;
            font-size: 15px;
            span{
                background-color: #f39200;
            }
        }
        span{
            display: block;
            width: 42px;
            height: 42px;
            border-radius: 42px;
            margin: 5px auto;
            background-color:#6e3e23;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;

        }
        &:last-child{
            border-bottom: none;
        }
        &:nth-child(1) span{background-image: url("../img/home.svg");}
        &:nth-child(2) span{background-image: url("../img/prof.svg");}
        &:nth-child(3) span{background-image: url("../img/acti.svg");}
        &:nth-child(4) span{background-image: url("../img/self.svg");}
        &:nth-child(5) span{background-image: url("../img/test.svg");}
        &:nth-child(6) span{background-image: url("../img/log.svg");}
        &:nth-child(7) span{background-image: url("../img/gram.svg");}
    }
}
.lineTit {
    height: 1px;
    margin: 0 auto;
    background: url("../img/dot.png");
}
.wrapFoo {
    width: 892px;
    margin: auto;
}
// __________-FIN de menu Lateral-__________

// POrtada de inicio de todos los modulos
#portada{
    margin-top: 50px;
    h2,ul{
        font-family: 'Handlee', cursive;
    }
    h2{
        font-size: 22px;
        color: #fff;
        padding: 22px;
        background-image: url('../img/objetives.png');
        width: 164px;
        height: 73px;
        margin-top: 200px;
    }
    ul{
        font-size: 20px;
        li{
            color: $blue;
            list-style-type: disc;
        }
    }
}


// Marco de Madera
.marco{
    top: 80px;
    width: 1044px;
    min-height: 636px;
    background: url(../img/marco.png) center repeat-y;
    margin: auto;
    position: relative;
    >.top{
        display: block;
        position: absolute;
        top: -70px;
        left: 0;
        content: "";
        width: 100%;
        height: 266px;
        background: url(../img/marco-top.png) center no-repeat;
        z-index: 1;
    }
    >.button{
        display: block;
        position: absolute;
        left: 0;
        bottom: -50px;
        content: "";
        width: 100%;
        height: 266px;
        background: url(../img/marco-bottom.png) center no-repeat;
        z-index: 1;
    }
    .wrapContainer{
        margin-top: 50px;
        width: 100%;
        height: auto;
    }
}
// ______________Contenedor______________
// TITULOS
.mainTitles {
    height: 118px;
    .colLeft2{
        width: 40%;
        text-align: center;
    }
    .colRight2{
        width: 60%;
        text-align: center;
    }
    h1{
        font-family: 'hobgo';
        color:$darkBlue;
        font-size: 60px;
        line-height: 10px;
        display: inline-block;
        -moz-transform: rotate(-8deg);
        -webkit-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    h2{
        display: inline-block;
        font-family:'Handlee', cursive;
        font-size: 33px;
        color: $darkBlue;
        margin: 40px 0 0 0;
    }
    span{
        font-family: 'Sniglet';
        font-size: 45px;
        color: $lightBlue;
        text-transform: uppercase;
        margin: 0 10px;
        line-height: 45px;
        display: inline-block;
    }
    .mod {
        background: $lightBlue;
        color: #fff;
        font-family: 'Sniglet';
        padding: 3px 29px;
        border-radius: 20px;
        font-size: 16px;
        display: block;
        clear: both;
        letter-spacing: 0.1rem;
        width: 146px;
        margin-left: 93px;
    }
}
//Fin titulos

// Navegacion Inferior

footer {
    width: 100%;
    position: relative;
    margin-top: 125px;
    margin-bottom: 40px;
}

.navDown{
    position: relative;
    z-index: 2;
    width: 892px;
    height: 26px;
    margin: 10px auto 0;
    .prev, .next {
        height: 34px;
        width: 110px;
        display: block;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        cursor: pointer;
    }
    .prev{
        background: url('../img/prev.png');
        &:hover{
            background: url('../img/prevHover.png')
        }
    }
    .next{
        background: url('../img/next.png');
        &:hover{
            background: url('../img/nextHover.png')
        }
    }
}
 // FIN navegacion Inferior


// ______________FIN Contenedor______________




/* INICIO TEMA Proyecto INVIL Kids */
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */



// Ejemplos de framework
#cuadricula{
	@include cuadricula(div,5,0.5%);
	div {
		background-color: tomato;
	}
}
.grilla-ejemplo {
	background-color: tomato;
	color: #FFF;
	min-height: 40px;
	margin: 5px 0;
}
