@charset "utf-8";
@import './buttons';
@import './slider';

.c- {
    &welcome {
        &_message {
            width: 100%;
            max-width: 590px;
            user-select: none;
            margin: 0;
            font-size: 1.6rem;
        }
        &_details {
            font-size: 1.2rem;
        }
    }
    &main-message {
        padding: 2vw 0;
    }
    &main-title {
        padding-top: 80px;
        z-index: 2;
    }
    &aboutUs {
    }
    &contact_footer {
        display: grid;
        grid-gap: 0.5em;
        &_item {
            &:nth-child(4) {
                display: flex;
                flex-direction: column;
                align-items: center;
                & *:last-child {
                    padding-top: 0.5rem;
                }
            }
            &:nth-child(1) {
                font-size: 4vmin;
            }
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(2) {
                display: flex;
                justify-content: center;
            }
            &:nth-child(3) {
                justify-content: space-around;
                max-width: 400px;
                margin: auto;
                width: 100%;
                padding-top: 2vw;
            }
        }
        a {
            color: var(--color-a);
            text-decoration: none;
        }
    }
}

.c- {
    &grid {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(13, 50px);
        grid-auto-rows: 50px;
        justify-content: space-around;
        grid-gap: 0;
        width: 90%;
        max-width: 1920px;
        margin: auto;
        padding: 5vw 0 5vw 0;
    }
    &card {
        min-height: 320px;
        min-width: 330px;
        position: relative;
        display: inline-flex;
        padding: 10px;
        margin: 0;
        &_image {
            width: 100%;
            height: 100%;
            max-width: 270px;
            object-fit: cover;
            object-position: center;
            position: relative;
            z-index: 0;
        }
        &_content {
            background-color: var(--theme-card-content-bg);
            padding: 10px;
            position: relative;
            z-index: 0;
            box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.27);
        }
        &_description {
            font-family: var(--font-normal);
            font-size: 26px;
        }
        &_caption {
            &-title {
                // margin: 0;
            }
        }
        &_link {
            &-email {
                color: var(--color-a);
            }
        }
        &::before {
            content: '';
            width: 90%;
            max-width: 480px;
            height: 90%;
            // border: 4px solid var(--theme-card-before-border-bg);
            position: absolute;
            top: -5px;
            left: -5px;
            z-index: 0;
            // background-color: transparent;
            @include bgGradient(var(--theme-card-before-border-bg), var(--theme-card-before-border-bg), 4px);
        }
    }
}

[data-square] {
    &::before {
        content: '';
        width: 90%;
        height: 90%;
        // border: 4px solid var(--theme-card-before-border-bg);
        position: absolute;
        top: -5px;
        left: -5px;
        z-index: 0;
        @include bgGradient(var(--color-a), var(--color-a), 3px);
    }
}
[data-square='card'] {
    @extend [data-square='multimedia'];
    &::before {
        max-width: 480px;
    }
}
[data-square='multimedia'] {
    @extend [data-square='multimedia'];
    &::before {
        max-width: 50%;
        height: calc(100% - 1rem);
        top: -1rem;
        left: -1rem;
    }
}

.c-multimedia {
    width: 100%;
    height: 0;
    padding-top: 56%;
    position: relative;
    margin: auto;
    z-index: 2;
    &_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    &[data-shadow='true'] {
        // margin-bottom: -100px;
        &::after {
            content: '';
            position: absolute;
            width: 106%;
            left: -3%;
            bottom: -80px;
            height: 110px;
            background-color: var(--color-0);
            z-index: -1;
            box-shadow: 0px -9px 0px var(--color-0), 1px 15px 9px -12px #49494942, 0px 3px 6px -10px #5b5b5b30;
        }
    }
}

.c- {
    &contact {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 2fr minmax(300px, 450px);
        min-height: 50vh;
        position: relative;
        box-shadow: 0px 0px 20px rgba(179, 179, 179, 0.3);
        button,
        input,
        textarea {
            border: none;
        }
        textarea {
            resize: none;
        }
        &_map,
        &_form {
            position: relative;
            z-index: 1;
            background-color: #fff;
        }
        &_map {
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/World_map_with_points.svg/1280px-World_map_with_points.svg.png);
            background-repeat: no-repeat;
            background-position: 10% 40%;
            &-pin {
                position: absolute;
                top: 55%;
                left: 26%;
                width: 1rem;
                height: 1rem;
                background-color: var(--color-a);
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                }
                &::after {
                    content: 'Bogotá, Colombia';
                    background-color: tomato;
                    padding: 0.2rem;
                    font-size: 0.6rem;
                    top: -140%;
                    left: 70%;
                    color: white;
                }
            }
        }
        &_form {
            padding: 2rem;
            &-field {
                padding: 0.6rem 0.3rem;
            }
        }
    }
}
