@charset 'UTF-8';@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i,900&display=swap');@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');:root
{
    --duration: 1.6s;--easing: cubic-bezier(.2,0,.3,1);--theme-contrast: #323232;--color-w: #fff;--color-b: #141414;--color-0: #f5f5f5;--color-1: #323232;--color-a: #eec32e;--color-c: #fe8a39;--theme-header-bg: hsla(0,0%,100%,.4);--theme-menu-link-color: var(--color-a);--theme-section-bg: var(--color-w);--theme-headding-enfasis: var(--color-a);--theme-headding-separador: var(--color-a);--theme-headding-indicator: var(--color-b);--theme-card-content-bg: var(--color-w);--theme-card-before-border-bg: var(--color-1);--theme-svg-logo-fill: var(--color-1);--theme-mega-headding-color: var(--color-w);--theme-mega-headding-shadow: 0,0,0;--modal-border-size: 2px;--font-medium: AvenirNext-Medium,sans-serif;--font-bold: AvenirNext-Bold,sans-serif;--font-normal: Avenir Next,sans-serif;--mouse-x: calc(50vw + 1px);--mouse-y: calc(50vh + 1px);--mouse-bg: var(--color-a);
}@font-face
{
    font-family: AvenirNext-Bold;font-weight: 700;font-style: bold;font-display: swap;src: local('AvenirNext-Bold'),local('AvenirNext-Bold'),url(assets/fonts/AvenirNext-DemiBold-03.ttf) format('truetype');
}@font-face
{
    font-family: AvenirNext-Medium;font-weight: 700;font-style: bold;font-display: swap;src: local('AvenirNext-Medium'),local('AvenirNext-Medium'),url(assets/fonts/AvenirNext-Medium-06.ttf) format('truetype');
}@font-face
{
    font-family: Avenir Next;font-weight: 700;font-style: bold;font-display: swap;src: local('Avenir Next'),local('Avenir Next'),url(assets/fonts/AvenirNext-Regular-08.ttf) format('truetype');
}*,
:after,
:before
{
    box-sizing: border-box;
}html
{
    font-family: var(--font-normal),Roboto,Helvetica,sans-serif;font-size: 20px;color: var(--color-b);
}body,
html
{width: 100%;
    height: 100%;
}body
{font-size: inherit;

    display: flex;margin: 0;padding: 0;cursor: auto;background-color: #fff;justify-content: center;align-items: center;
}h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: var(--font-bold);
}img
{
    max-width: 100%;
}b,
strong
{
    font-family: var(--font-bold);
}.c-section_headding
{font-family: var(--font-medium);font-size: 74px;position: relative;z-index: 1;

    width: 100%;max-width: 1200px;margin-top: 0;margin-bottom: 5vh;padding: 5vh 100px 0 0;letter-spacing: -3.5px;pointer-events: none;
}.c-section_headding-indicator
{font-family: var(--font-medium);
    font-size: 16px;letter-spacing: 0;color: var(--theme-headding-indicator);
}.c-section_headding-enfasis
{
    color: var(--theme-headding-enfasis);
}.c-section_headding-separador
{
    width: 100%;max-width: 330px;min-height: .25rem;margin-bottom: 18px;background-color: var(--theme-headding-separador);
}.o-mega_headding
{font-family: var(--font-medium);
    font-size: 450px;position: relative;left: 6vmin;color: var(--theme-mega-headding-color);text-shadow: -25px 25px 40px rgba(var(--theme-mega-headding-shadow),.1);
}.o-mega_headding-wrapper
{
    position: absolute;z-index: 0;top: auto;bottom: 10px;overflow: hidden;width: 100%;user-select: none;pointer-events: none;
}.o-section
{position: relative;

    width: 100%;min-height: 100vh;transition: transform .3s ease-in-out;background-color: var(--theme-section-bg);
}.o-section:first-of-type
{display: flex;flex-direction: column;

    padding-top: 7rem;justify-content: space-between;
}.o-section.u-extra
{
    height: 130vh;
}.o-section#works
{
    min-height: 95vh;padding-bottom: 4rem;
}.o-section#works:after
{position: absolute;z-index: 0;bottom: -30%;width: 100%;height: 50vh;content: '';

    background-color: #eec32e;
}.o-section#contact
{
    padding-top: 100px;padding-bottom: 50px;
}.o-header
{
    position: fixed;z-index: 10;top: 0;left: 50%;width: 100%;min-height: 3rem;padding: 1rem 6vw;transform: translateX(-50%);background-color: var(--theme-header-bg);
}.o-header_wrapper
{display: flex;

    max-width: 1920px;margin: auto;justify-content: space-between;align-items: center;
}.o-header_btn,
.o-menu_btn
{min-height: 3rem;border: none;
    background-color: transparent;
}.o-header[data-over=on-dark] .o-menu_options-link
{
    color: var(--color-w);
}.o-main
{
    width: 100%;height: 100%;
}.o-logo
{width: 100%;
    max-width: 4rem;
}.o-menu
{
    width: 100%;max-width: 500px;
}.o-menu_btn
{display: none;

    max-width: 3rem;opacity: 0;
}.o-menu_options
{
    display: flex;margin: 0;padding: 0;justify-content: space-around;
}.o-menu_options-item
{font-family: var(--font-medium);font-size: .72rem;position: relative;display: inline-flex;overflow: hidden;padding-bottom: 3px;

    list-style-type: none;text-transform: uppercase;
}.o-menu_options-item:after
{position: absolute;top: auto;bottom: 3px;left: -100%;width: 100%;height: 3px;

    content: '';transition: left .5s cubic-bezier(.37,.01,0,.98);background-color: var(--color-a);
}.o-menu_options-item:hover:after
{
    left: -13%;
}.o-menu_options-link
{transition: color .5s;
    text-decoration: none;color: var(--theme-menu-link-color);
}.o-article
{
    padding: 2vh 4vw;
}.o-wrapper
{position: relative;z-index: 1;

    width: 100%;max-width: 1200px;margin: 0 auto;
}.o-footer
{width: 100%;min-height: 300px;
    padding: 5vw 0 1vh;
}.c-btn
{font-weight: 500;

    position: relative;display: inline-flex;padding: .5rem;text-align: center;text-decoration: none;letter-spacing: 1px;color: var(--color-1);border-radius: 0;background-color: var(--color-w);justify-content: center;
}.c-btn:after
{position: absolute;z-index: 2;top: 0;left: 0;width: 100%;height: 100%;

    content: '';pointer-events: none;background: linear-gradient(90deg,var(--color-a) 0,var(--color-a)) top no-repeat,linear-gradient(270deg,var(--color-c) 0,var(--color-c)) bottom no-repeat,linear-gradient(180deg,var(--color-a) 0,var(--color-a) 33.3%,var(--color-c) 77%,var(--color-c)) 0 no-repeat,linear-gradient(180deg,var(--color-a) 0,var(--color-a) 33.3%,var(--color-c) 77%,var(--color-c)) 100% no-repeat;background-size: 100% var(--modal-border-size),100% var(--modal-border-size),var(--modal-border-size) 100%,var(--modal-border-size) 100%;
}.c-btn[data-position=absolute]
{
    position: absolute;right: -10px;bottom: -30px;
}.blog-slider
{position: relative;z-index: 1;

    width: 100%;max-width: 1200px;height: 600px;margin: 0 auto auto;padding: 0;transition: all .3s;border-radius: 25px;background: #fff;
}.blog-slider:before
{position: absolute;top: -1rem;left: -1rem;width: 50%;height: calc(100% - 1rem);

    content: '';box-shadow: 0 0 0 3px var(--color-1);
}.blog-slider__item
{
    display: flex;align-items: center;
}.blog-slider__item.swiper-slide-active .blog-slider__img img
{transition-delay: .3s;

    opacity: 1;
}.blog-slider__item.swiper-slide-active .blog-slider__content > *
{transform: none;

    opacity: 1;
}.blog-slider__item.swiper-slide-active .blog-slider__content > :first-child
{
    transition-delay: .3s;
}.blog-slider__item.swiper-slide-active .blog-slider__content > :nth-child(2)
{
    transition-delay: .7s;
}.blog-slider__img
{overflow: hidden;

    width: 100%;height: 100%;transform: translateX(0);border-radius: 0;background-image: linear-gradient(147deg,#fe8a39,#fd3838 74%);flex-shrink: 0;
}.blog-slider__img:after
{position: absolute;top: 0;left: 0;width: 100%;height: 100%;

    content: '';opacity: .8;border-radius: 0;
}.blog-slider__img img
{display: block;

    width: 100%;height: 100%;transition: all .3s;opacity: 0;border-radius: 0;object-fit: cover;
}.blog-slider__content > *
{transition: all .4s;transform: translateY(0);

    opacity: 0;
}.blog-slider__code
{font-weight: 500;display: block;margin-bottom: 15px;

    color: #7b7992;
}.blog-slider__title
{
    font-size: 24px;font-weight: 700;margin-bottom: 20px;color: #0d0925;
}.blog-slider__text
{line-height: 1.5em;margin-bottom: 30px;

    color: #4e4a67;
}.blog-slider__button
{font-weight: 500;position: absolute;right: -10px;bottom: -30px;display: inline-flex;padding: 15px 35px;text-align: center;text-decoration: none;letter-spacing: 1px;color: var(--color-1);border-radius: 0;background-color: var(--color-w);

    --client-color: #fe8a39;--client-color_light: var(--color-a);--modal-border-size: 3px;justify-content: center;
}.blog-slider__button:after
{position: absolute;z-index: 2;top: 0;left: 0;width: 100%;height: 100%;

    content: '';background: linear-gradient(90deg,var(--client-color_light) 0,var(--client-color_light)) top no-repeat,linear-gradient(270deg,var(--client-color) 0,var(--client-color)) bottom no-repeat,linear-gradient(180deg,var(--client-color_light) 0,var(--client-color_light) 33.3%,var(--client-color) 77%,var(--client-color)) 0 no-repeat,linear-gradient(180deg,var(--client-color_light) 0,var(--client-color_light) 33.3%,var(--client-color) 77%,var(--client-color)) 100% no-repeat;background-size: 100% var(--modal-border-size),100% var(--modal-border-size),var(--modal-border-size) 100%,var(--modal-border-size) 100%;
}.blog-slider .swiper-button-next,
.blog-slider .swiper-button-prev
{width: auto;
    min-width: 21px;height: auto;min-height: 21px;
}.blog-slider .swiper-button-next:before
{
    content: 'sig.';
}.blog-slider .swiper-button-prev:after
{
    content: 'prev.';
}.blog-slider .swiper-button-next
{right: -60px;

    padding-right: 1rem;background-position: 100%;
}.blog-slider .swiper-button-prev
{left: -60px;

    padding-left: 1rem;background-position: 0;
}.blog-slider__pagination
{
    position: absolute;z-index: 21;top: auto;bottom: -45px!important;left: 0!important;display: flex;width: 100%!important;text-align: center;justify-content: center;align-items: center;
}.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 8px;
}.blog-slider__pagination .swiper-pagination-bullet
{display: block;

    width: 11px;height: 11px;transition: all .3s;opacity: .2;border-radius: 10px;background: #062744;
}.blog-slider__pagination .swiper-pagination-bullet-active
{width: 30px;

    opacity: 1;background: #fd3838;
}.c-welcome_message
{font-size: 1.6rem;

    width: 100%;max-width: 590px;margin: 0;user-select: none;
}.c-welcome_details
{
    font-size: 1.2rem;
}.c-main-message
{
    padding: 2vw 0;
}.c-main-title
{z-index: 2;

    padding-top: 80px;
}.c-contact_footer
{
    display: grid;grid-gap: .5em;
}.c-contact_footer_item:nth-child(4)
{
    display: flex;flex-direction: column;align-items: center;
}.c-contact_footer_item:nth-child(4) :last-child
{
    padding-top: .5rem;
}.c-contact_footer_item:first-child
{
    font-size: 4vmin;
}.c-contact_footer_item:first-child,
.c-contact_footer_item:nth-child(2),
.c-contact_footer_item:nth-child(3)
{
    display: flex;justify-content: center;
}.c-contact_footer_item:nth-child(3)
{width: 100%;max-width: 400px;margin: auto;padding-top: 2vw;

    justify-content: space-around;
}.c-contact_footer a
{text-decoration: none;

    color: var(--color-a);
}.c-grid
{
    display: grid;width: 90%;max-width: 1920px;margin: auto;padding: 5vw 0;grid-template-columns: repeat(20,1fr);grid-template-rows: repeat(13,50px);grid-auto-rows: 50px;justify-content: space-around;grid-gap: 0;
}.c-card
{position: relative;display: inline-flex;min-width: 330px;
    min-height: 320px;margin: 0;padding: 10px;
}.c-card_image
{position: relative;z-index: 0;

    width: 100%;max-width: 270px;height: 100%;object-fit: cover;object-position: center;
}.c-card_content
{position: relative;z-index: 0;padding: 10px;

    background-color: var(--theme-card-content-bg);box-shadow: 0 5px 12px 0 rgba(0,0,0,.27);
}.c-card_description
{
    font-family: var(--font-normal);font-size: 26px;
}.c-card_link-email
{
    color: var(--color-a);
}.c-card:before
{
    max-width: 480px;background: linear-gradient(90deg,var(--theme-card-before-border-bg) 0,var(--theme-card-before-border-bg)) top no-repeat,linear-gradient(270deg,var(--theme-card-before-border-bg) 0,var(--theme-card-before-border-bg)) bottom no-repeat,linear-gradient(180deg,var(--theme-card-before-border-bg) 0,var(--theme-card-before-border-bg) 33.3%,var(--theme-card-before-border-bg) 77%,var(--theme-card-before-border-bg)) 0 no-repeat,linear-gradient(180deg,var(--theme-card-before-border-bg) 0,var(--theme-card-before-border-bg) 33.3%,var(--theme-card-before-border-bg) 77%,var(--theme-card-before-border-bg)) 100% no-repeat;background-size: 100% 4px,100% 4px,4px 100%,4px 100%;
}.c-card:before,
[data-square]:before
{position: absolute;z-index: 0;top: -5px;left: -5px;width: 90%;height: 90%;

    content: '';
}[data-square]:before
{
    background: linear-gradient(90deg,var(--color-a) 0,var(--color-a)) top no-repeat,linear-gradient(270deg,var(--color-a) 0,var(--color-a)) bottom no-repeat,linear-gradient(180deg,var(--color-a) 0,var(--color-a) 33.3%,var(--color-a) 77%,var(--color-a)) 0 no-repeat,linear-gradient(180deg,var(--color-a) 0,var(--color-a) 33.3%,var(--color-a) 77%,var(--color-a)) 100% no-repeat;background-size: 100% 3px,100% 3px,3px 100%,3px 100%;
}[data-square=card]:before
{
    max-width: 480px;
}[data-square=card]:before,
[data-square=multimedia]:before
{top: -1rem;left: -1rem;

    max-width: 50%;height: calc(100% - 1rem);
}.c-multimedia
{position: relative;z-index: 2;

    width: 100%;height: 0;margin: auto;padding-top: 56%;
}.c-multimedia_video
{
    position: absolute;top: 0;left: 0;width: 100%;height: auto;
}.c-multimedia[data-shadow=true]:after
{position: absolute;z-index: -1;bottom: -80px;left: -3%;width: 106%;height: 110px;

    content: '';background-color: var(--color-0);box-shadow: 0 -9px 0 var(--color-0),1px 15px 9px -12px rgba(73,73,73,.26),0 3px 6px -10px rgba(91,91,91,.19);
}.c-contact
{position: relative;

    display: grid;min-height: 50vh;box-shadow: 0 0 20px hsla(0,0%,70.2%,.3);grid-gap: .5em;grid-template-columns: 2fr minmax(300px,450px);
}.c-contact button,
.c-contact input,
.c-contact textarea
{
    border: none;
}.c-contact textarea
{
    resize: none;
}.c-contact_form,
.c-contact_map
{
    position: relative;z-index: 1;background-color: #fff;
}.c-contact_map
{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/World_map_with_points.svg/1280px-World_map_with_points.svg.png);background-repeat: no-repeat;background-position: 10% 40%;
}.c-contact_map-pin
{
    position: absolute;top: 55%;left: 26%;width: 1rem;height: 1rem;background-color: var(--color-a);
}.c-contact_map-pin:after,
.c-contact_map-pin:before
{position: absolute;

    content: '';
}.c-contact_map-pin:after
{font-size: .6rem;top: -140%;left: 70%;padding: .2rem;

    content: 'Bogotá, Colombia';color: #fff;background-color: tomato;
}.c-contact_form
{
    padding: 2rem;
}.c-contact_form-field
{
    padding: .6rem .3rem;
}.svg-menu .cls-1
{
    fill: #383838;
}.svg-logo .st0
{transition: fill .1s cubic-bezier(.37,.01,0,.98);

    fill: var(--theme-svg-logo-fill);
}.fx-mask
{width: 95%;max-width: 1200px;
    height: 95%;max-height: 95vh;margin: auto;animation-duration: .9s;animation-delay: 2s;animation-fill-mode: forwards;
}.fx-mask:hover
{
    animation: animateSize;
}.fx-mask:after,
.fx-mask:before
{
    position: absolute;z-index: 20;letter-spacing: -.1vmin;
}.fx-mask:before
{font-size: 1.6rem;top: 0;right: -1vw;padding: 0 10px;

    content: attr(data-project);transform: rotate(-90deg);transform-origin: bottom right;color: var(--color_1);background-color: var(--color-a);
}.fx-mask:after
{font-size: 6vmin;bottom: 2vh;left: 2vw;

    content: attr(data-product) ' / ' attr(data-product-count);
}.product
{
    position: absolute;top: 0;left: 0;display: grid;width: 100%;height: 100%;box-shadow: 0 0 0 1px var(--color-a);grid-template-columns: 1fr 1fr;grid-template-rows: 1fr 1fr;
}.product:after
{
    content: '';
}.product:before
{position: absolute;top: -20px;left: -20px;width: 90%;height: 90%;

    content: '';border: 4px solid var(--color-a);border-right: none;border-bottom: none;background-color: transparent;
}.product[data-active]
{
    z-index: 10;
}.product[data-active] > .photo
{transition-delay: 0s;

    mask-size: 600vmax 600vmax;
}.product[data-active] .title span
{
    transform: none!important;
}.product[data-active] + .product .title span
{
    visibility: hidden;transform: translateY(100%);
}.product[data-active] + .product .title div:nth-child(2) span
{
    transform: translateY(-100%);
}.product > .photo
{overflow: hidden;margin: 0;transition: mask-size var(--duration) var(--easing);transition-delay: .5s;background: #fff;

    grid-column: 1/-1;grid-row: 1/-1;mask-image: linear-gradient(#000 70%,transparent 70.1%);mask-repeat: no-repeat;mask-position: center center;mask-position: calc(var(--mouse-x) - 50vw + 50%) calc(var(--mouse-y) - 50vh + 50%);mask-size: 0 0;
}.product > .photo:after,
.product > .photo:before
{position: absolute;z-index: 1;

    content: '';
}.product > .photo:after
{right: -10rem;
    bottom: -10rem;width: 20rem;height: 20rem;border-radius: 50%;background-image: linear-gradient(-45deg,var(--color-a),var(--color-a));
}.product > .photo:before
{
    top: -5rem;left: -5rem;width: 10rem;height: 10rem;border-radius: 0;
}.product > .photo img
{display: block;width: 100%;height: 100%;pointer-events: none;

    opacity: .8;object-fit: cover;
}.product > .title
{font-size: 5vmin;line-height: 1;display: flex;flex-direction: column;padding: 1rem;

    grid-column: 2;grid-row: 2;justify-content: flex-end;
}.product > .title h2
{font-weight: 300;line-height: .9;

    margin: 0;letter-spacing: -.5vmin;
}.product > .title span
{
    display: block;overflow: hidden;white-space: nowrap;
}.product .title h2
{font-family: var(--font-normal);

    margin: 0;transition: text-shadow .3s ease-in-out,color .35s ease-in-out;text-shadow: 0 1px 0 var(--color-c);
}.product .title h2:hover
{color: var(--color-w);
    text-shadow: 0 3px 0 var(--color-1);
}.product .title div
{
    overflow: hidden;
}.product .title div span
{transition: transform calc(var(--duration) - .6s) var(--easing);
    transform: translateY(-100%);
}.product .title div:nth-child(2)
{
    text-align: center;
}.product .title div:nth-child(3)
{
    text-align: right;
}.product .title div:nth-child(2) span
{
    transform: translateY(100%);
}.mouse-tracker
{position: fixed;z-index: 999;top: 0;left: 0;width: var(--size-init);height: var(--size-init);transition: border-radius .15s ease-in-out,background-color .1s ease-in-out,width .1s ease-in-out,height .1s ease-in-out;transform: translate(-50%,-50%) translate(var(--mouse-x),var(--mouse-y));pointer-events: none;opacity: .8;background: hsla(0,0%,100%,.2);

    --size-init: .6rem;--size-active: 1.5rem;
}.mouse-tracker:after,
.mouse-tracker:before
{position: absolute;

    content: '';border: 1px solid var(--theme-contrast);
}.mouse-tracker:before
{z-index: -2;

    width: 90%;height: 90%;border-right: none;border-bottom: none;background-color: transparent;
}.mouse-tracker:after
{z-index: -1;
    top: 0;left: 0;width: 100%;height: 100%;background-color: var(--mouse-bg);
}.mouse-tracker.on-link
{
    width: var(--size-active);height: var(--size-active);cursor: pointer;opacity: .5;background-image: linear-gradient(460deg,var(--color-a),var(--color-a));
}.mouse-tracker.on-link:after,
.mouse-tracker.on-link:before
{
    opacity: .5;border-width: 2px;border-radius: 0;
}.mouse-tracker.on-link:before
{
    top: -4px;left: -4px;
}.mouse-tracker[data-theme=on-gold]
{
    --mouse-bg: var(--color-w);
}.u-head_section,
.u-headding,
.u-message
{
    display: flex;align-items: center;justify-content: center;
}.u-head_section
{font-family: var(--font-bold),Helvetica;
    font-size: 10vmin;font-weight: 700;margin: 1vh 0 3vh;transition: text-shadow .3s ease-in-out,color .35s ease-in-out;color: var(--color-a);
}.u-head_section:before
{font-size: 200%;position: absolute;z-index: -1;left: 0;width: 100%;

    content: attr(data-name);text-align: center;pointer-events: none;opacity: .3;color: #646464;filter: opacity(.2);
}.u-head_section:hover
{
    text-shadow: 0 3px 0 var(--color-1);
}.u-head_section:hover:before
{
    text-shadow: none;
}.u-message
{color: var(--color-0);
    background-color: #1c1e1f;
}.u-middle
{flex-direction: column;

    min-height: 20rem;justify-content: flex-start;
}.u-cubo:before
{position: absolute;z-index: -1;top: 0;left: 0;width: 90%;height: 90%;

    content: '';border: 4px solid var(--color-a);background-color: transparent;
}.u-chevron
{position: relative;

    display: flex;width: 100%;height: 3rem;justify-content: center;align-items: center;
}.u-chevron-arrow
{
    position: absolute;top: -.18rem;width: 1.05rem;height: .18rem;transform: scale(.3);animation: move-chevron 3s ease-out infinite;opacity: 0;
}.u-chevron-arrow:first-child
{
    animation: move-chevron 3s ease-out 1s infinite;
}.u-chevron-arrow:nth-child(2)
{
    animation: move-chevron 3s ease-out 2s infinite;
}.u-chevron-arrow:after,
.u-chevron-arrow:before
{position: absolute;top: 0;width: 50%;height: 100%;

    content: '';background: #2c3e50;
}.u-chevron-arrow:before
{
    left: 0;transform: skewY(30deg);
}.u-chevron-arrow:after
{
    right: 0;width: 50%;transform: skewY(-30deg);
}@keyframes move-chevron
{
    25%
    {
        opacity: 1;
    }33.3%
    {transform: translateY(1.14rem);

        opacity: 1;
    }66.6%
    {transform: translateY(1.56rem);

        opacity: 1;
    }to
    {transform: translateY(2.4rem) scale(.5);

        opacity: 0;
    }
}.o-section[data-theme=gold],
html[data-theme=gold]
{
    --theme-section-bg: var(--color-a);--theme-headding-enfasis: var(--color-w);--theme-headding-separador: var(--color-w);--theme-card-before-border-bg: var(--color-c);--theme-mega-headding-color: #f4c82a;--theme-mega-headding-shadow: 30,30,30;--theme-header-bg: rgba(244,200,42,.5);--theme-menu-link-color: var(--color-w);
}.o-section[data-theme=light],
html[data-theme=light]
{
    --theme-section-bg: var(--color-w);--theme-headding-enfasis: var(--color-a);--theme-headding-separador: var(--color-a);--theme-mega-headding-color: var(--color-w);--theme-mega-headding-shadow: 0,0,0;--theme-card-content-bg: var(--color-w);--theme-card-before-border-bg: var(--color-a);--theme-headding-indicator: var(--color-1);--theme-menu-link-color: var(--color-1);
}.o-section[data-theme=gray],
html[data-theme=gray]
{
    --theme-section-bg: var(--color-0);--theme-headding-enfasis: var(--color-a);--theme-headding-separador: var(--color-a);--theme-card-content-bg: var(--color-a);--theme-menu-link-color: var(--color-1);
}.o-section[data-theme=dark],
html[data-theme=dark]
{
    --theme-section-bg: var(--color-1);--theme-headding-enfasis: var(--color-a);--theme-headding-separador: var(--color-a);--theme-headding-indicator: var(--color-w);--theme-header-bg: rgba(0,0,0,.2);--theme-svg-logo-fill: var(--color-w);--theme-menu-link-color: var(--color-w);
}.o-section:first-of-type .o-wrapper
{
    margin-top: 18vh;
}.c-grid[data-grid=card] .c-card
{display: inline-flex;min-width: 330px;
    min-height: 320px;
}.c-grid[data-grid=card] .c-card:first-child
{
    grid-column: 3/10;grid-row: 3/11;
}.c-grid[data-grid=card] .c-card:nth-child(2)
{
    grid-column: 13/20;grid-row: 6/13;
}.c-grid[data-grid=card] .c-card:nth-child(3)
{
    grid-column: 5/12;grid-row: 13/22;
}.c-grid[data-grid=founders] .c-card
{display: inline-flex;min-width: 330px;
    min-height: 320px;
}.c-grid[data-grid=founders] .c-card:first-child
{
    grid-column: 2/10;grid-row: 3/10;
}.c-grid[data-grid=founders] .c-card:nth-child(2)
{
    grid-column: 12/20;grid-row: 1/8;
}.c-grid[data-grid=founders] .c-card:nth-child(3)
{
    grid-column: 9/17;grid-row: 11/18;
}.on-leave
{transition: transform .5s cubic-bezier(.37,.01,0,.98);
    transform: translateY(0);
}[data-view]
{
    will-change: opacity,transform;
}[data-view=fade-inDown]
{
    transition: opacity .5s cubic-bezier(.37,.01,0,.98) 70ms,transform .6s cubic-bezier(.37,.01,0,.98) .1s;transform: translateY(0);opacity: 1;
}[data-view=fade-inDown].c-card,
[data-view=fade-inDown].c-section_headding
{
    transform: translateX(0);
}[data-view=fade-outDown]
{
    transition: opacity .5s cubic-bezier(.37,.01,0,.98) .3s,transform .4s cubic-bezier(.37,.01,0,.98) .3s;opacity: 0;
}[data-view=fade-outDown].c-section_headding
{
    transform: translateX(100px);
}[data-view=fade-outDown].c-card:nth-child(2n)
{
    transform: translateX(-100px);
}[data-view=fade-outDown].c-card:nth-child(odd)
{
    transform: translateX(100px);
}[data-view=fade-outDown].hk-image-layout,
[data-view=fade-outDown].in-up
{
    transform: translateY(100px);
}.on-hover
{transition: transform .5s cubic-bezier(.37,.01,0,.98);
    transform: translateY(-10px)!important;
}.on-index #enfoque
{
    position: relative;
}.on-index #enfoque:before
{position: absolute;top: 0;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/index/index_impulsamos_bg.png);background-repeat: no-repeat;background-position: center 30%;background-size: auto;
}.on-orca .o-menu
{
    max-width: 600px;
}.on-orca #welcome .cont-multimedia
{
    margin-top: 100px;
}.on-orca #record
{
    min-height: 75vh;
}.on-orca #proposal
{
    position: relative;
}.on-orca #proposal img
{
    display: flex;
}.on-orca #proposal:before
{position: absolute;width: 100%;height: 100%;

    content: '';opacity: .6;background-image: url(assets/images/projects/orca/orca_proposal_bg.png);background-repeat: no-repeat;background-position: 50%;background-size: auto 66%;
}.on-orca #objectives
{
    position: relative;
}.on-orca #objectives:before
{position: absolute;width: 100%;height: 100%;

    content: '';opacity: .25;background-image: url(assets/images/projects/orca/orca_proposito_bg.png);background-repeat: no-repeat;background-position: 50%;background-size: auto 36%;
}.on-orca #isotipo
{
    position: relative;
}.on-orca #isotipo:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/orca/orca_isotipo_bg.png);background-repeat: no-repeat;background-position: 78% 20%;background-size: auto 44%;
}.on-orca #tipografia
{
    position: relative;
}.on-orca #tipografia:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/orca/orca_tipografia_bg.png);background-repeat: no-repeat;background-position: 88%;background-size: auto 34%;
}.on-orca .o-section img
{
    user-select: none;pointer-events: none;
}.on-orca .o-section:first-of-type .o-wrapper
{display: flex;

    margin-top: 18vh;align-items: center;
}.on-betsknate .o-menu
{
    max-width: 600px;
}.on-betsknate #welcome .cont-multimedia
{
    margin-top: 100px;
}.on-betsknate #record
{
    min-height: 75vh;
}.on-betsknate #preview
{
    position: relative;
}.on-betsknate #preview img
{
    display: flex;
}.on-betsknate #preview:after,
.on-betsknate #preview:before
{position: absolute;top: 0;width: 100%;height: 100%;

    content: '';background-repeat: no-repeat;
}.on-betsknate #preview:after
{
    background-image: url(assets/images/projects/betsknate/betsknate_proposal_bg_2.png);background-position: 80% 90%;background-size: auto 66%;
}.on-betsknate #preview:before
{opacity: .6;
    background-image: url(assets/images/projects/betsknate/betsknate_proposal_bg.png);background-position: 50%;background-size: auto 66%;
}.on-betsknate #colors
{
    position: relative;
}.on-betsknate #colors:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/betsknate/betsknate_colores_bg.png);background-repeat: no-repeat;background-position: -30%;background-size: auto 66%;
}.on-betsknate #elements
{
    position: relative;
}.on-betsknate #elements:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/betsknate/betsknate_elementos_bg.png);background-repeat: no-repeat;background-position: 76% 26%;background-size: auto 23%;
}.on-betsknate #aplicaciones
{
    position: relative;
}.on-betsknate #aplicaciones:before
{
    position: absolute;width: 100%;height: 100%;background-image: url(assets/images/projects/betsknate/betsknate_aplicaciones.png);background-repeat: no-repeat;background-position: 88%;background-size: auto 34%;
}.on-betsknate .o-section img
{
    user-select: none;pointer-events: none;
}.on-betsknate .o-section:first-of-type .o-wrapper
{display: flex;

    margin-top: 18vh;align-items: center;
}.on-valientes .o-menu
{
    max-width: 600px;
}.on-valientes #welcome .cont-multimedia
{
    margin-top: 100px;
}.on-valientes #record
{
    min-height: 75vh;
}.on-valientes #proposal
{
    position: relative;
}.on-valientes #proposal img
{
    display: flex;
}.on-valientes #proposal:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/valientes/valientes_marca_logo.png);background-repeat: no-repeat;background-position: 80%;background-size: auto 58%;
}.on-valientes #colores
{
    position: relative;
}.on-valientes #colores:before
{position: absolute;width: 100%;height: 100%;

    content: '';opacity: 0;background-image: url(assets/images/projects/orca/orca_proposito_bg.png);background-repeat: no-repeat;background-position: 50%;background-size: auto 36%;
}.on-valientes #referentes
{
    position: relative;background-image: linear-gradient(180deg,var(--color-0) 140px,transparent 0,transparent);
}.on-valientes #referentes:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/valientes/valientes_referentes_bg.png);background-repeat: no-repeat;background-position: 0;background-size: contain;
}.on-valientes #elements
{
    position: relative;
}.on-valientes #elements:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/valientes/valientes_elementos_bg.png);background-repeat: no-repeat;background-position: 60% 70%;background-size: auto;
}.on-valientes #aplicaciones
{
    position: relative;
}.on-valientes #aplicaciones:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/valientes/valientes_aplicaciones_bg.png);background-repeat: no-repeat;background-position: 50%;background-size: auto 60%;
}.on-valientes .o-section img
{
    user-select: none;pointer-events: none;
}.on-valientes .o-section:first-of-type .o-wrapper
{display: flex;

    margin-top: 18vh;align-items: center;
}.on-origen .o-menu
{
    max-width: 600px;
}.on-origen #welcome .cont-multimedia
{
    margin-top: 100px;
}.on-origen #record
{
    min-height: 75vh;
}.on-origen #proposal
{
    position: relative;
}.on-origen #proposal img
{
    display: flex;
}.on-origen #proposal:before
{position: absolute;top: 0;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/origen/origen_propuesta_bg.png);background-repeat: no-repeat;background-position: 110% 10%;background-size: auto 66%;
}.on-origen #colors
{
    position: relative;
}.on-origen #colors:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/origen/origen_colores_bg.png);background-repeat: no-repeat;background-position: 50%;background-size: auto;
}.on-origen #referentes
{
    position: relative;
}.on-origen #referentes:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/origen/origen_referentes_bg.png);background-repeat: no-repeat;background-position: center 80%;background-size: auto;
}.on-origen #elements
{
    position: relative;
}.on-origen #elements:after,
.on-origen #elements:before
{position: absolute;top: 0;width: 100%;height: 100%;

    content: '';background-repeat: no-repeat;
}.on-origen #elements:before
{
    background-image: url(assets/images/projects/origen/origen_elementos_bg.png);background-position: center 120%;background-size: auto;
}.on-origen #elements:after
{
    background-image: url(assets/images/projects/origen/origen_elementos_bg_2.png);background-position: center 30%;background-size: auto;
}.on-origen #aplicaciones
{
    position: relative;
}.on-origen #aplicaciones:before
{position: absolute;width: 100%;height: 100%;

    content: '';background-image: url(assets/images/projects/origen/origen_aplicaciones_bg.png);background-repeat: no-repeat;background-position: center 80%;background-size: auto;
}.on-origen .o-section img
{
    user-select: none;pointer-events: none;
}.on-origen .o-section:first-of-type .o-wrapper
{display: flex;

    margin-top: 18vh;align-items: center;
}@keyframes animateSize
{
    to
    {
        width: 85vw;height: 85vh;
    }
}
