.card {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;

  &:hover {
    .card_image {
      max-width: 200px !important;
    }
  }

  &::before {
    content: '';
    width: 90%;
    max-width: 350px;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border: 2.5px solid var(--theme-card-before-border-bg);
  }

  &_image {
    display: none;
    padding: 10px 0;
    margin-left: -20px;
    min-width: 150px;
    max-width: 200px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: max-width 300ms ease-in-out;

    > * {
      min-height: 100%;
      transition: max-width 300ms ease-in-out;
    }

    &-img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: max-width 300ms ease-in-out;
    }
  }

  &_caption {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding-right: 20px;

    &-title {
      margin: 0;
      font-size: 2.2rem;
      font-weight: 300;
      color: var(--color-a);
    }

    &-subtitle {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 300;
      color: var(--color-a);
    }
  }

  &_content {
    display: grid;
    padding: 10px;
    position: relative;
    z-index: 0;
    background-color: var(--theme-card-content-bg);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.27);

    transition: max-width 300ms ease-in-out;
  }

  &_description {
    padding: 10px 0 5px 0;
    margin: 0;
    color: var(--theme-card-content-color);
    font-family: var(--font-normal);
    font-size: 1.5rem;
    min-width: 26ch;
  }

  &_link-email {
    color: var(--color-a);
  }
}

.is-max-content {
  max-width: 45ch;
}

@media all and (min-width: 560px) {
  .card_image {
    display: inline-flex;
  }
}
