section(id="about" class="o-section js-scrollUp" data-theme='light')
    .o-wrapper Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt laborum at provident odit dignissimos perferendis expedita magni accusamus mollitia accusantium quos consequatur non, similique error iusto velit officia alias voluptatem!