section(id="contact" class="o-section js-scrollUp" data-theme='dark')
    div(class="o-wrapper")
        h2(class="u-head_section" data-name='Contacto') Contacto
    .o-wrapper(style="margin-top: 200px")
        .c-contact(data-square='multimedia')
            .c-contact_map: .c-contact_map-pin.js-link
            form.c-contact_form
                div.c-contact_form-field: label(class="c-btn js-link"): input(id="name" type="text" name="" placeholder="Nombre")
                div.c-contact_form-field: label(class="c-btn js-link"): input(id="name" type="email" name="" placeholder="Email")
                div.c-contact_form-field: label(class="c-btn js-link")
                    textarea(name="" cols="30" rows="10")
                div.c-contact_form-field: label(class="c-btn js-link" data-position="absolute") Enviar

