section(id="enfoque" class="o-section" data-theme='gold')
    .o-wrapper
        +headding('h1', 'Enfoque, multiples servicios, 2 modalidades de trabajo.', 'Impulsamos', ' transformaciones de la mano con el cliente.')(class="")
    article(class="c-grid" data-grid="card")
        div(class="c-card js-intersector")
            .c-card_content
                h1.c-card_caption-title(style="margin-left: 1.5rem") Diseño
                figcaption.c-card_caption
                    blockquote(class="c-card_description") Comunicación para diferentes medios impresos o digitales:
                        br
                        br
                        p Campañas • afiches • flyers • pendones • brochure • vallas • tripticos • soportes gráficos para internet y redes sociales.

                    a(class="c-btn js-link" data-position='absolute' href='mailto:harley.santos.garzon@gmail.com') hablemos
        figure.c-card.js-intersector
            .c-card_content
                h1.c-card_caption-title(style="margin-left: 1.5rem") Desarrollo
                figcaption.c-card_caption
                    blockquote(class="c-card_description")
                        p Herramientas y tecnologías actuales para dar soluciones acordes a sus necesidades.
                            br
                            br
                            | Resolver las necesidades desarrollo y consultoría de la mano con el cliente.
                    a(class="c-btn js-link" data-position='absolute' href='mailto:angela.bohorquez.ramos@gmail.com') hablemos
        figure.c-card.js-intersector
            .c-card_content
                h1.c-card_caption-title(style="margin-left: 1.5rem") Branding
                figcaption.c-card_caption
                    blockquote(class="c-card_description")
                        | Diseño y estratégias de marca
                        br
                        | Resolver las necesidades en:
                        br
                        br
                        p  Naming • Logotipos e Isotipos • Identidad Corporativa • Conceptos de Marca • Estrategia de Marcas • Arquitectura de Marcas • Posicionamientos.
                    a(class="c-btn js-link" data-position='absolute' href='mailto:angela.bohorquez.ramos@gmail.com') hablemos
