section.o-section(data-theme='gray')
    .o-wrapper
        +headding('h1', 'Somos, un estudio de diseño Colombiano.', 'Creamos', 'productos digitales y marcas del futuro.')
    .o-wrapper: +chevron()
    +mega_headding('CubioStudio')