section(id="works" class="o-section" data-theme="light")
    .o-wrapper
        +headding('h1', 'trabajos, desde 2015 haciendo realidad las ideas de nuestros clientes.', 'Proyectos', null)(class="js-intersector")
    .o-wrapper.js-scrollUp
        div(class="blog-slider js-intersector")
            .blog-slider__wrp.swiper-wrapper
                .blog-slider__item.swiper-slide
                    a(class="blog-slider__img" href='orca.html'): img(src='./assets/images/projects/slider/1.jpg' alt='')
                    .blog-slider__content: a(class="blog-slider__button js-link js-mouseStatus" href='orca.html') Conoce Orca
                .blog-slider__item.swiper-slide
                    a(class="blog-slider__img" href='origen.html'): img(src='./assets/images/projects/slider/2.jpg' alt='')
                    .blog-slider__content: a(class="blog-slider__button js-link js-mouseStatus" href='origen.html') Conoce Origen
                .blog-slider__item.swiper-slide
                    a(class="blog-slider__img" href='betsknate.html'): img(src='./assets/images/projects/slider/4.jpg' alt='')
                    .blog-slider__content: a(class="blog-slider__button js-link js-mouseStatus" href='betsknate.html') Conoce Betsknate
                .blog-slider__item.swiper-slide
                    a(class="blog-slider__img" href='valientes.html'): img(src='./assets/images/projects/slider/3.jpg' alt='')
                    .blog-slider__content: a(class="blog-slider__button js-link js-mouseStatus" href='valientes.html') Conoce Valientes
            .blog-slider__pagination
            // Add Arrows
            div(class="swiper-button-prev")
            div(class="swiper-button-next")
            |