.c-slider_custom {
  &[class*='isCustom'] {
    --shadow-width: 3px;

    position: relative;
    padding: 1.5rem 1.5rem 3rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;

    .c-slider_custom-arrowBtn {
      position: absolute;
      top: calc(100% + 18px);
      z-index: 2;

      display: flex;

      height: 3rem;
      padding: 0;
      border: 0;
      box-shadow: none;

      cursor: pointer;
      font-size: 3rem;
      background: transparent;
      background-position: center;
      background-repeat: no-repeat;
      
      transform: translateY(-50%);

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      svg {
        fill: var(--theme-contrast)
      }

      [role='img'] {
        height: 100%;
      }

      &[class*='arrowRight'] {
        right: 0px;
      }
      
      &[class*='arrowLeft'] {
        left: 0px;
      }
    }

    .c-slider_custom-btnAction {
      --client-color: var(--color-c);
      --client-color_light: var(--color-a);
      --modal-border-size: 3px;

      position: absolute;
      z-index: 1;
      top: calc(100% - 35px);
      left: calc(100% - 30px);

      width: max-content;
      padding: 15px 25px;
      border-width: 1px;
      border-color: var(--color-d);

      box-shadow: 0 0 0 0px var(--color-d);
      color: var(--color-1);
      font-size: initial;

      background-color: var(--color-w);
      transform: translateX(-90%) translateY(-50%);
      text-align: center;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background:
          linear-gradient(
              90deg,
              var(--client-color_light) 0,
              var(--client-color_light)
            )
            top no-repeat,
          linear-gradient(270deg, var(--client-color) 0, var(--client-color))
            bottom no-repeat,
          linear-gradient(
              180deg,
              var(--client-color_light) 0,
              var(--client-color_light) 33.3%,
              var(--client-color) 77%,
              var(--client-color)
            )
            0 no-repeat,
          linear-gradient(
              180deg,
              var(--client-color_light) 0,
              var(--client-color_light) 33.3%,
              var(--client-color) 77%,
              var(--client-color)
            )
            100% no-repeat;
        background-size: 100% var(--modal-border-size),
          100% var(--modal-border-size), var(--modal-border-size) 100%,
          var(--modal-border-size) 100%;
      }
    }

    img {
      background-color: var(--theme-section-bg);
    }

    &:before {
      content: '';
      position: absolute;
      width: 50%;
      height: calc(100% - 4.5rem);
      top: 0.5rem;
      left: 0.5rem;
      box-shadow: 0 0 0 var(--shadow-width) var(--theme-contrast);
    }

    &[class*='isMobile'] {
      --shadow-width: 2px;

      & > div {
        height: 0;
        padding: 0px 0px 72%;

        & > div {
          position: absolute !important;
          height: 100%;

          ul {
            height: 100%;

            li {
              width: 100%;
              height: 100%;
              display: inline-flex;
            }
          }
        }
      }

      .c-slider_custom-slide {
        height: 100%;

        & > div {
          height: 100%;
        }
      }

      img {
        object-fit: cover;
      }
    }
  }
}
