@charset "utf-8";

.svg-menu {
    & .cls-1 {
        fill: #383838;
    }
}

.svg-logo {
    .st0 {
        fill: var(--theme-svg-logo-fill); //#222220;
        transition: fill 100ms cubic-bezier(0.37, 0.01, 0, 0.98);
    }
}
