@charset "utf-8";
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: var(--font-normal), Roboto, Helvetica, sans-serif;
    font-size: 20px;
    height: 100%;
    width: 100%;
    color: var(--color-b);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: inherit;
    background-color: #fff;
    cursor: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-bold);
}

img {
    max-width: 100%;
}

strong,
b {
    font-family: var(--font-bold);
}
