@charset "utf-8";

.o-section,
html {
    &[data-theme='gold'] {
        --theme-section-bg: var(--color-a);
        --theme-headding-enfasis: var(--color-w);
        --theme-headding-separador: var(--color-w);
        --theme-card-before-border-bg: var(--color-c);
        --theme-mega-headding-color: #f4c82a;
        --theme-mega-headding-shadow: 30, 30, 30;
        --theme-header-bg: rgba(244, 200, 42, 0.5);
        --theme-menu-link-color: var(--color-w);
    }
    &[data-theme='light'] {
        --theme-section-bg: var(--color-w);
        --theme-headding-enfasis: var(--color-a);
        --theme-headding-separador: var(--color-a);
        --theme-mega-headding-color: var(--color-w);
        --theme-mega-headding-shadow: 0, 0, 0;
        --theme-card-content-bg: var(--color-w);
        --theme-card-before-border-bg: var(--color-a);
        --theme-headding-indicator: var(--color-1);
        --theme-menu-link-color: var(--color-1);
    }
    &[data-theme='gray'] {
        --theme-section-bg: var(--color-0);
        --theme-headding-enfasis: var(--color-a);
        --theme-headding-separador: var(--color-a);
        --theme-card-content-bg: var(--color-a);
        --theme-menu-link-color: var(--color-1);
    }
    &[data-theme='dark'] {
        --theme-section-bg: var(--color-1);
        --theme-headding-enfasis: var(--color-a);
        --theme-headding-separador: var(--color-a);
        --theme-headding-indicator: var(--color-w);
        --theme-header-bg: rgba(0, 0, 0, 0.2);
        --theme-svg-logo-fill: var(--color-w);
        --theme-menu-link-color: var(--color-w);
    }
}
.o-section {
    &:first-of-type {
        .o-wrapper {
            margin-top: 18vh;
        }
    }
}

.c- {
    &grid {
        &[data-grid='card'] {
            .c-card {
                min-height: 320px;
                min-width: 330px;
                display: inline-flex;
                &:nth-child(1) {
                    grid-column: 3 / 10;
                    grid-row: 3 / 11;
                }
                &:nth-child(2) {
                    grid-column: 13 / 20;
                    grid-row: 6 / 13;
                }
                &:nth-child(3) {
                    grid-column: 5 / 12;
                    grid-row: 13 / 22;
                }
            }
        }
        &[data-grid='founders'] {
            .c-card {
                min-height: 320px;
                min-width: 330px;
                display: inline-flex;
                &:nth-child(1) {
                    grid-column: 2 / 10;
                    grid-row: 3 / 10;
                }
                &:nth-child(2) {
                    grid-column: 12 / 20;
                    grid-row: 1 / 8;
                }
                &:nth-child(3) {
                    grid-column: 9 / 17;
                    grid-row: 11 / 18;
                }
            }
        }
    }
}

.on-leave {
    transform: translateY(0px);
    transition: transform 0.5s cubic-bezier(0.37, 0.01, 0, 0.98);
}

[data-view] {
    will-change: opacity, transform;
}
[data-view='fade-inDown'] {
    transition: opacity 0.5s cubic-bezier(0.37, 0.01, 0, 0.98) 70ms, transform 0.6s cubic-bezier(0.37, 0.01, 0, 0.98) 100ms;
    opacity: 1;
    transform: translateY(0);
    &.c-section_headding {
        transform: translateX(0);
    }
    // &.hk-image-layout {
    // opacity: 1;
    // }
    // &.c-multimedia,
    // &.blog-slider {
    //     opacity: 1;
    //     // transition: opacity 0.5s cubic-bezier(0.37, 0.01, 0, 0.98);
    // }
    &.c-card {
        transform: translateX(0);
    }
}
// [data-view='fade-inUp'] { }
[data-view='fade-outDown'] {
    transition: opacity 0.5s cubic-bezier(0.37, 0.01, 0, 0.98) 0.3s, transform 0.4s cubic-bezier(0.37, 0.01, 0, 0.98) 0.3s;
    opacity: 0;

    // &.blog-slider {
    // }
    &.c-section_headding {
        transform: translateX(100px);
    }
    &.c-card {
        &:nth-child(even) {
            transform: translateX(-100px);
        }
        &:nth-child(odd) {
            transform: translateX(+100px);
        }
    }
    &.in-up,
    &.hk-image-layout {
        transform: translateY(100px);
    }
}
// [data-view='fade-outUp'] { }

.on-hover {
    transform: translateY(-10px) !important;
    transition: transform 0.5s cubic-bezier(0.37, 0.01, 0, 0.98);
}

.on-index {
    #enfoque {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }

        &:before {
            background-image: url(./assets/images/index/index_impulsamos_bg.png);
            background-size: auto;
            background-position: center 30%;
        }
    }
}

.on-orca {
    .o-menu {
        max-width: 600px;
    }
    #welcome {
        .cont-multimedia {
            margin-top: 100px;
        }
    }
    #record {
        min-height: 75vh;
    }
    #proposal {
        position: relative;
        img {
            display: flex;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(./assets/images/projects/orca/orca_proposal_bg.png);
            background-size: auto 66%;
            background-repeat: no-repeat;
            background-position: 50% center;
            opacity: 0.6;
        }
    }
    #objectives {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/orca/orca_proposito_bg.png);
            background-size: auto 36%;
            background-position: 50% center;
            opacity: 0.25;
        }
    }
    #isotipo {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/orca/orca_isotipo_bg.png);
            background-size: auto 44%;
            background-position: 78% 20%;
        }
    }
    #tipografia {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/orca/orca_tipografia_bg.png);
            background-size: auto 34%;
            background-position: 88% center;
        }
    }
    .o-section {
        img {
            user-select: none;
            pointer-events: none;
        }
        &:first-of-type {
            .o-wrapper {
                margin-top: 18vh;
                display: flex;
                align-items: center;
            }
        }
    }
}

.on-betsknate {
    .o-menu {
        max-width: 600px;
    }
    #welcome {
        .cont-multimedia {
            margin-top: 100px;
        }
    }
    #record {
        min-height: 75vh;
    }
    #preview {
        position: relative;
        img {
            display: flex;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            top: 0;
        }
        &:after {
            background-image: url(./assets/images/projects/betsknate/betsknate_proposal_bg_2.png);
            background-size: auto 66%;
            background-position: 80% 90%;
        }
        &:before {
            background-image: url(./assets/images/projects/betsknate/betsknate_proposal_bg.png);
            background-size: auto 66%;
            background-position: 50% center;
            opacity: 0.6;
        }
    }
    #colors {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/betsknate/betsknate_colores_bg.png);
            background-size: auto 66%;
            background-position: -30% center;
        }
    }
    #elements {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/betsknate/betsknate_elementos_bg.png);
            background-size: auto 23%;
            background-position: 76% 26%;
        }
    }
    #aplicaciones {
        position: relative;
        &:before {
            // content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/betsknate/betsknate_aplicaciones.png);
            background-size: auto 34%;
            background-position: 88% center;
        }
    }
    .o-section {
        img {
            user-select: none;
            pointer-events: none;
        }
        &:first-of-type {
            .o-wrapper {
                margin-top: 18vh;
                display: flex;
                align-items: center;
            }
        }
    }
}

.on-valientes {
    .o-menu {
        max-width: 600px;
    }
    #welcome {
        .cont-multimedia {
            margin-top: 100px;
        }
    }
    #record {
        min-height: 75vh;
    }
    #proposal {
        position: relative;
        img {
            display: flex;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(./assets/images/projects/valientes/valientes_marca_logo.png);
            background-size: auto 58%;
            background-repeat: no-repeat;
            background-position: 80% center;
            // opacity: 0.8;
        }
    }
    #colores {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/orca/orca_proposito_bg.png);
            background-size: auto 36%;
            background-position: 50% center;
            opacity: 0;
        }
    }
    #referentes {
        position: relative;
        background-image: linear-gradient(180deg, var(--color-0) 140px, transparent 140px, transparent);
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/valientes/valientes_referentes_bg.png);
            background-size: contain;
            background-position: 0 center;
        }
    }
    #elements {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/valientes/valientes_elementos_bg.png);
            background-size: auto;
            background-position: 60% 70%;
        }
    }
    #aplicaciones {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/valientes/valientes_aplicaciones_bg.png);
            background-size: auto 60%;
            background-position: center;
        }
    }
    .o-section {
        img {
            user-select: none;
            pointer-events: none;
        }
        &:first-of-type {
            .o-wrapper {
                margin-top: 18vh;
                display: flex;
                align-items: center;
            }
        }
    }
}

.on-origen {
    .o-menu {
        max-width: 600px;
    }
    #welcome {
        .cont-multimedia {
            margin-top: 100px;
        }
    }
    #record {
        min-height: 75vh;
    }
    #proposal {
        position: relative;
        img {
            display: flex;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            top: 0;
        }
        &:before {
            background-image: url(./assets/images/projects/origen/origen_propuesta_bg.png);
            background-size: auto 66%;
            background-position: 110% 10%;
        }
    }
    #colors {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/origen/origen_colores_bg.png);
            background-size: auto;
            background-position: center;
        }
    }
    #referentes {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/origen/origen_referentes_bg.png);
            background-size: auto;
            background-position: center 80%;
        }
    }
    #elements {
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }

        &:before {
            background-image: url(./assets/images/projects/origen/origen_elementos_bg.png);
            background-size: auto;
            background-position: center 120%;
        }

        &:after {
            background-image: url(./assets/images/projects/origen/origen_elementos_bg_2.png);
            background-size: auto;
            background-position: center 30%;
        }
    }
    #aplicaciones {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(./assets/images/projects/origen/origen_aplicaciones_bg.png);
            background-size: auto;
            background-position: center 80%;
        }
    }
    .o-section {
        img {
            user-select: none;
            pointer-events: none;
        }
        &:first-of-type {
            .o-wrapper {
                margin-top: 18vh;
                display: flex;
                align-items: center;
            }
        }
    }
}
