script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='../../assets/js/jquery.bxslider.min.js')
script(src="//code.jquery.com/ui/1.11.2/jquery-ui.js")
script(src='https://cdn.rawgit.com/nnattawat/flip/v1.0.19/dist/jquery.flip.min.js')
//- script(src='../../assets/js/bootstrap.js')
script(src='../../assets/js/Materialize/materialize.min.js')
script(src='../../assets/js/bootstrap_dropDown.js')
script(src='../../assets/js/Materialize/velocity.min.js')
script(src='../../assets/js/Materialize/carousel.js')
script(src='../../assets/js/Materialize/dropdown.js')
script(src='../../assets/js/Materialize/leanModal.js')
script(src='../../assets/js/Materialize/slider.js')
script(src='../../assets/js/Materialize/tooltip.js')
script(src='../../assets/js/Materialize/initial.js')
script(src='../../assets/js/frontEnd.js')
script(src='../../assets/js/backEnd.js')
script(src='../../assets/js/elementos.js')
