include ../../../../assets/mixin-jade/mixins
header
	img(src='../../assets/img/logoInvil.png').fl-l.mt20
	.wrapMenuDrop.f-r
		.dropdown
			a(href='#' data-toggle='dropdown').dropdown-toggle Modules
			ul.dropdown-menu
				li: a(href='') Module 1
				li: a(href='') Module 2
				li: a(href='') Module 3
				li: a(href='') Module 4
				li: a(href='') Module 5
				li: a(href='') Module 6
				li: a(href='') Module 7
				li: a(href='') Module 8
				li: a(href='') Module 9
				li: a(href='') Module 10
				li: a(href='') Module 11
				li: a(href='') Module 12
	.barras
		.barra1
			p.txt02.proBar
				| Your Navigation: 
				strong 25 
				| of 
				strong 24
			.content_barra_progreso
				img(src='../../assets/img/barra_nav.png')
				.barra
		.barra2
			p.txt02.proBar
				| Answered correctly: 
				strong 0 
				| of 
				strong 5
			.content_barra_progreso
				img(src='../../assets/img/barra_nav.png')
				.barra
