@import './shared/mouse';
/* ---------------------------------- */

.o- {
  &main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;
  }
  &article {
    padding: 2vh 4vw;
  }
  &wrapper {
    width: 100%;
    max-width: var(--layout-max-size);
    margin: 0 auto;
    position: relative;
    padding: 1vh 1.5vw;
  }
  &footer {
    padding: 5vw 0 1vh;
    width: 100%;
    min-height: 50vh;
  }
  &section {
    width: 100%;
    min-height: calc(var(--layout-section-min-height) + 10vh);
    background-color: var(--theme-section-bg);
    transition: transform 0.3s ease-in-out;
    padding: var(--layout-header-size-height) 0 calc(var(--layout-header-size-height) / 1.5);

    &_anchor {
      transform: translateY(-10px);
    }

    &[data-intermedian='true'] {
      --intermedian-variant-gap: 4;
      min-height: auto;
      margin-bottom: calc(var(--layout-header-size-height) * (var(--intermedian-variant-gap) * -1));
      padding: 0;
      position: relative;
      z-index: 2;
      background: linear-gradient(
        180deg,
        var(--theme-section-bg) calc(100% - var(--layout-header-size-height) * var(--intermedian-variant-gap)),
        var(--theme-section-bg-next) calc(100% - var(--layout-header-size-height) * var(--intermedian-variant-gap))
      );

      & + .o-section {
        padding-top: calc(var(--layout-header-size-height) * 4);
      }
    }

    &:first-of-type {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: var(--layout-section-min-height);
      height: 100%;
      padding: calc(var(--layout-header-size-height) * 1.5) 0 0;
    }

    &.u-extra {
      height: 130vh;
    }
  }
}

.c- {
  &headding_align {
    padding-top: calc(5vh + clamp(0.7em, 8vmin, 1.1em) + 1.3rem);

    @media screen and (max-width: 49.35rem) {
      padding-top: 0;
    }
  }

  &compare {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;

    &_left {
      flex-basis: 50rem;
      flex-grow: 1;
    }

    &_right {
      flex-basis: 0;
      flex-grow: 4;
      max-width: 60ch;
      margin: 0;
    }
  }

  &welcome {
    &_message {
      width: 100%;
      user-select: none;
      margin: 0;
    }
    &_enfasis {
      font-size: 2.6rem;
      font-family: var(--font-normal);
    }
    &_details {
      font-size: 1.6rem;
    }
  }

  &form {
    &_wrapper {
      padding: 2rem 0;
    }
  }
  &video {
    &_wrapper {
      display: grid;
    }
  }
}
