@charset "utf-8";

:root, html {
  --color_0_hsl: 0, 0%, 94%;
  --color-d_hsl: 0, 0%, 76%;
  --contrast_hsl: 0, 0%, 8%;

  --duration: 1.6s;
  --easing: cubic-bezier(0.2, 0, 0.3, 1);
  --theme-contrast: #141414;
  --color-w: #ffffff;
  --color-b: var(--theme-contrast);
  --color-0: hsl(var(--color_0_hsl));
  --color-1: #303030;
  --color-a: #eec32e; //#bc5ff1;
  --color-c: #fe8a39; //#3a1a7b;
  --color-d: #c2c2c2;

  --layout-max-size: 108rem;
  --layout-header-size-height: 6rem;
  --layout-header-blur: 2px;
  --layout-header-blur-hover: 4px;
  --layout-headding-indicator-height: 0.2rem;
  --layout-logo-size-height: 4rem;
  --layout-btn-padding: 0.2rem 0.5rem;
  --layout-section-min-height: 100vh;

  --theme-body-color: var(--color-b);

  --theme-header-bg: hsl(0deg, 0%, 0%, 2%);
  
  --theme-headding-enfasis: var(--color-a);
  --theme-headding-enfasis-shadow: var(--color-1);
  --theme-headding-separador: var(--color-a);
  --theme-headding-indicator: var(--color-b);
  --theme-headding-color: var(--color-1);

  --theme-form-accent-color: var(--color-a);
  
  --theme-section-bg: var(--color-w);
  --theme-section-bg-next: var(--color-w);
  
  --theme-card-content-bg: var(--color-w);
  --theme-card-content-color: var(--color-b);
  --theme-card-before-border-bg: var(--color-1);
  
  --theme-svg-logo-fill: var(--color-1);
  
  --theme-menu-link-color: var(--color-b);
  --theme-menu-link-ascent: var(--color-a);
  --theme-mega-headding-color: var(--color-w);
  --theme-mega-headding-shadow: 0, 0, 0;

  --theme-scroll-track-bg: hsl(var(--contrast_hsl), 0.1);
  --theme-scroll-thumb-bg: hsl(var(--contrast_hsl), 0.1);
  --theme-scroll-thumb-bg-hover: hsl(var(--contrast_hsl), 0.5);

  --theme-body-scroll-track-bg: hsl(var(--contrast_hsl), 0.1);
  --theme-body-scroll-thumb-bg: var(--color-1);
  --theme-body-scroll-thumb-bg-hover: hsl(var(--contrast_hsl), 0.5);

  --modal-border-size: 2px;

  --font-medium: AvenirNext-Medium, sans-serif;
  --font-bold: AvenirNext-Bold, sans-serif;
  --font-normal: Avenir Next, sans-serif;

  --mouse-x: calc(50vw + 1px);
  --mouse-y: calc(50vh + 1px);
  --mouse-bg: var(--color-a);
  --mouse-visible: none;
}