doctype html
html(lang='es')
	include bloques/head
	body
		include bloques/header
		.container.main
			.row
				.col.m12.bm8.f-r
					h1.ta-r Hello Word
				.col.m12.bm8.f-r
					h3.ta-r Objectives:
					p.ta-r  Este es la prueba inical de un framework tipo "frankenstein", que es la personalización de
						strong: i: a(href="https://github.com/Dogfalo/materialize")  Materialize
						|  y
						strong: i: a(href="https://github.com/escueladigital/ED-GRID") Ed Grid
				.col.total
					h4.text-red.ta-r: i HarleySG
		footer
			include bloques/footer
