@charset "utf-8";
.o- {
  &header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    min-height: var(--layout-header-size-height);
    background-color: var(--theme-header-bg);
    color: var(--theme-body-color);
    backdrop-filter: blur(var(--layout-header-blur));

    &:hover {
      backdrop-filter: blur(var(--layout-header-blur-hover));
    }

    &_wrapper {
      max-width: var(--layout-max-size);
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;
    }
  }

  &logo {
    display: flex;
    max-width: var(--layout-logo-size-height);
    width: 100%;
    
    svg {
      width: 100%;
      fill: var(--theme-svg-logo-fill, currentColor);
    }
  }

  &menu {
    width: 100%;
    max-width: max-content;

    &_btn {
      max-width: 2rem;
      width: 100%;
      display: none;
    }

    &_options {
      display: flex;
      justify-content: space-around;
      gap: clamp(0.6rem, 3vmin, 1rem);
      margin: 0;
      padding: 0;

      &-item {
        list-style-type: none;
        font-family: var(--font-medium);
        display: inline-flex;
        overflow: hidden;
      }

      &-link {
        --line-hover-height: 3px;

        position: relative;

        text-decoration: none;
        text-transform: uppercase;
        font-size: 75%;
        color: var(--theme-menu-link-color);
        outline-offset: -2px;
        padding: 0.5em;
        outline-width: 1px;

        &::after {
          content: '';
          position: absolute;
          top: calc(65% - var(--line-hover-height));
          left: -100%;
          width: 100%;
          height: var(--line-hover-height);
          background-color: var(--theme-menu-link-ascent);
          transition: left 0.5s cubic-bezier(0.37, 0.01, 0, 0.98);
        }

        &:hover {
          &::after {
            left: -13%;
          }
        }
      }
    }
  }
}
